*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  color: $darkGrey;
  background-color: $light-purple;
  font-size: 16px;
}

input, select {
  color: $darkGrey !important;
}

input:focus, select:focus {
  outline: none !important;
  border-color: $light-purple !important;
  box-shadow: 0 0 10px $light-purple !important;
}

.light-purple-bg {
  background-color: $purple !important;
  border-radius: 5px;
}

.light-purple-color {
  color: $purple !important;
}

.centered-card {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-box-shadow: 0 5px 10px 10px rgba(172, 159, 187, 0.2);
  -moz-box-shadow: 0 5px 10px 10px rgba(172, 159, 187, 0.2);
  box-shadow: 0 5px 10px 10px rgba(172, 159, 187, 0.2);
}














