.snackbar {
  visibility: hidden;
  min-width: 300px;
  margin-left: -125px;
  text-align: center;
  padding: 16px;
  position: fixed;
  z-index: 111111;
  left: 50%;
  bottom: 30px;
  border-radius: 50%;
  height: 10%;
  width: 10%;
  font-size: 90px;

  &_show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
  }

  &__icon {
    font-size: 50px;
    margin-bottom: 80px;
  }

  &_white {
    color: $white;
  }

  &_red {
    color: #FF3131;
  }
}

@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 100px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 100px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 100px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 100px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}