@import "lib/normalize.css";
@import "~bootstrap/scss/bootstrap";
@import "style/var";
@import "style/mixins";
@import "style/generals";
@import "style/fonts";
@import "style/game";
@import "style/snackbar";

